<html>
<head>
<title>activity_login.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
.s6 { color: rgb(128,128,128); font-style: italic; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_login.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;</span><span class="s5">RelativeLayout</span><span class="s2"> 
    </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;#512698&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
 
    </span><span class="s2">&lt;</span><span class="s5">ImageView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/Williams&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;200dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;100dp&quot;</span><span class="s2"> 
        </span><span class="s1">app:srcCompat=</span><span class="s3">&quot;@mipmap/williams&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/username&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s6">&lt;!--&lt;TextView--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:id=&quot;@+id/loginText&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:layout_width=&quot;wrap_content&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:layout_height=&quot;wrap_content&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:layout_above=&quot;@+id/username&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:layout_centerHorizontal=&quot;true&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:fontFamily=&quot;serif&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:password=&quot;false&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:text=&quot;@string/W2W&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:textAlignment=&quot;center&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:textColor=&quot;#FFCC01&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:textSize=&quot;30sp&quot;--&gt;</span><span class="s4"> 
        </span><span class="s6">&lt;!--android:textStyle=&quot;bold&quot; /&gt;--&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/username&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/textborder&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;Username&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;viewStart&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorHighlight=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorHint=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">tools:focusable=</span><span class="s3">&quot;false&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">EditText</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;300dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;40dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/textborder&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:hint=</span><span class="s3">&quot;Password&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;textPassword&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAlignment=</span><span class="s3">&quot;viewStart&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorHighlight=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorHint=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/rememberMe&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">CheckBox</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/rememberMe&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/loginButton&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Remember Me&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/loginButton&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/forgotUsername&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignEnd=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/password&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;55dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;@drawable/buttonborder&quot;</span><span class="s2"> 
        </span><span class="s1">android:elevation=</span><span class="s3">&quot;0dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Log In&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAppearance=</span><span class="s3">&quot;@style/TextAppearance.AppCompat.Widget.Button&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/incorrectLogin&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/forgotUsername&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/loginButton&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/badLogin&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;#DD0A37&quot;</span><span class="s2"> 
        </span><span class="s1">android:visibility=</span><span class="s3">&quot;visible&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/forgotUsername&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
 
        </span><span class="s1">android:autoLink=</span><span class="s3">&quot;web&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/lostU&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorLink=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_above=</span><span class="s3">&quot;@+id/forgotPassword&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;8dp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/forgotPassword&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentBottom=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;89dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:autoLink=</span><span class="s3">&quot;web&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/lostP&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColorLink=</span><span class="s3">&quot;@android:color/background_light&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;15dp&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>