<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daksoftwareproducts.kevin.wso">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/williamsldpi"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!--<activity android:name=".MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.HOME" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.HOME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForecastActivity">
            <intent-filter>
                <action android:name="android.intent.action.FORECAST" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FactrakActivity">
            <intent-filter>
                <action android:name="android.intent.action.FACTRAK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FacebookActivity">
            <intent-filter>
                <action android:name="android.intent.action.FACEBOOK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfessorActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROFESSOR" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <activity
                android:name=".TestFragmentActivity"
                android:exported="false" />
        </activity>
        <activity android:name=".DiningActivity" />
        <activity android:name=".NewsActivity" />
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LaundryActivity"
            android:label="LaundryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DailyMessagesActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
    </application>

</manifest>